.slide {
    z-index: 0; 
    padding-left: 0px; 
    padding-right: 0px;
}
#intro {
    z-index: 1;
    opacity: 0.9;
    text-align:center;
    color: white; 
 		font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    width: 100%;
    position: absolute;
    padding-top: 15%;

}
.btn {
	min-width: 200px;
}
.title {
	font-size: 80px;
}
.input-group-text {
    width: 300px;
}